body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}


.background-container {
    position: absolute;
    width: 100%;
    height: 100%; 
    background-image: url('../images/Frame 1.svg'); 
    background-size: cover
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000040;
}


.coin {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    transition: transform 0.001s ease-in-out;
}


.coin:active {
    transform: translate(-50%, -50%) scale(0.95);
}


.coin-counter {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    font-weight: 500;
    color: white;
}

@font-face {
  .bitcount-grid-double-<uniquifier> {
  font-family: "Bitcount Grid Double", system-ui;
    /* src: url('../Bitcount Grid Double.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
}


#message {
.bitcount-grid-double-<uniquifier> {
  font-family: "Bitcount Grid Double", system-ui;
    /* src: url('../Bitcount Grid Double.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;   
 position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    color: white;
    text-align: center;
    font-family: 'Bitcount Grid Double', sans-serif;
}
