/* Main coin styling */
.coin {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    transition: transform 0.05s ease-in-out;
}

/* Coin counter styling */
.coin-counter {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 64px;
    font-weight: 500;
    color: white;
}

/* Progress bar container */
.progress-container {
    position: absolute;
    top: 65%; /* Adjusted position below the coin */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tank styling */
.tank {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Bar styling */
.bar {
    position: absolute;
    width: 0%; /* Initially empty */
    height: 100%;
    transition: width 0.5s; /* Smooth transition for filling the bar */
}
